@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
}

.conteiner {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
}
.conteiner .asidebar {
  background-color: #2f49d0;
  width: 320px;
  height: 100vh;
  user-select: none;
}
.conteiner .asidebar .box-search {
  width: 100%;
  height: 80px;
}
.conteiner .asidebar .box-opciones {
  width: 100%;
  height: 55vh;
  box-shadow: -12px 17px 0px -15px rgba(255, 255, 255, 0.274);
}
.conteiner .asidebar .box-opciones .box-item {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-opciones .box-item .box-item-panel {
  width: 85%;
  height: 40px;
  color: #c0c4dc;
  border-radius: 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-opciones .box-item .box-item-panel .box-icon {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-opciones .box-item .box-item-panel .box-text {
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.conteiner .asidebar .box-opciones .box-item .box-item-panel:hover {
  background-color: rgba(26, 43, 129, 0.233);
  cursor: pointer;
}
.conteiner .asidebar .box-opciones .box-item .box-item-panel-active {
  background-color: rgba(26, 43, 129, 0.233);
}
.conteiner .asidebar .box-sucursales {
  width: 100%;
  height: calc(45vh - 80px);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel {
  width: calc(100% - 20px);
  height: calc(100% - 30px);
  overflow-y: scroll;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal {
  background-color: rgba(255, 255, 255, 0.76);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal .panel-left {
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal .panel-left img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal .panel-right {
  width: 72%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal .panel-right .box-text {
  width: calc(100% - 5px);
  height: calc(100% - 10px);
  color: #757474;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal .panel-right .box-text .tittle-sucursal {
  width: 100%;
  height: 40%;
  font-weight: bold;
  font-size: 14px;
  color: #4d4d4d;
  display: flex;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal .panel-right .box-text .tittle-estado {
  width: 100%;
  height: 30%;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal .panel-right .box-text .tittle-ciudad {
  width: 100%;
  height: 30%;
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal:hover {
  background-color: rgba(224, 222, 222, 0.76);
}
.conteiner .asidebar .box-sucursales .box-panel .box-item-panel .panel-item-sucursal:active {
  transform: scale(0.96);
}
.conteiner .asidebar .box-sucursales .box-panel::-webkit-scrollbar {
  width: 5px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}
.conteiner .asidebar .box-sucursales .box-panel::-webkit-scrollbar-thumb {
  background: #c0c4dc;
  border-radius: 4px;
}
.conteiner .asidebar .box-sucursales .box-panel::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
.conteiner .panel {
  background-color: #f3f7fa;
  width: calc(100vw - 320px);
  height: 100%;
  min-width: 850px;
}
.conteiner .panel .header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner .panel .header .header-box {
  background-color: #2a42be;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 5px;
  text-align: center;
}
.conteiner .panel .header .header-box .box-buscador {
  float: left;
  height: 100%;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .panel .header .header-box .box-buscador .box-center {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .panel .header .header-box .box-buscador .box-center .box-input {
  background-color: white;
  height: 100%;
  width: calc(100% - 50px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .panel .header .header-box .box-buscador .box-center .box-input input {
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  border: none;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  color: #5f5f5f;
}
.conteiner .panel .header .header-box .box-buscador .box-center .box-icon {
  background-color: rgba(255, 255, 255, 0.295);
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
}
.conteiner .panel .header .header-box .box-perfil {
  position: relative;
  float: right;
  width: 250px;
  width: 250px;
  height: 100%;
  display: block;
  text-align: center;
  z-index: 2;
}
.conteiner .panel .header .header-box .box-perfil .box-center {
  position: relative;
  top: 10px;
  float: right;
  width: auto;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.conteiner .panel .header .header-box .box-perfil .box-center .box-img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.conteiner .panel .header .header-box .box-perfil .box-center .box-img img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
.conteiner .panel .header .header-box .box-perfil .box-center .box-nombre {
  width: auto;
  height: 100%;
  margin: 0px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}
.conteiner .panel .header .header-box .box-perfil .box-center:hover {
  background-color: rgba(255, 255, 255, 0.418);
}
.conteiner .panel .header .header-box .box-perfil .box-center:active {
  transform: scale(0.97);
}
.conteiner .panel .header .header-box .box-perfil .despliegue {
  position: absolute;
  display: none;
  background-color: white;
  top: 80px;
  width: 250px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.15);
}
.conteiner .panel .header .header-box .box-perfil .despliegue .info-foto {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: calc(100% - 20px);
  top: 10px;
  padding-bottom: 10px;
  height: auto;
  border-radius: 10px;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .info-foto .imagen-perfil {
  position: relative;
  width: 100%;
  height: auto;
  user-select: none;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .info-foto .imagen-perfil img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px 0px;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .info-foto .nombre-perfil {
  color: #111111;
  font-size: 14px;
  font-weight: bold;
  cursor: text;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .info-foto .email-perfil {
  color: #929292;
  font-size: 12px;
  cursor: text;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .info-foto .cargo-perfil {
  color: #929292;
  font-size: 12px;
  user-select: none;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .info-foto:hover {
  background-color: #f0f0f0;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .opciones-perfil {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  user-select: none;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .opciones-perfil .box-item {
  width: calc(100% - 20px);
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .opciones-perfil .box-item .icon-opciones {
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .opciones-perfil .box-item .icon-opciones .box-icon {
  background-color: #f0f0f0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b49c9c;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .opciones-perfil .box-item .text-opciones {
  height: 100%;
  width: calc(100% - 45px);
  display: flex;
  align-items: center;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .opciones-perfil .box-item .text-opciones label {
  position: relative;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
}
.conteiner .panel .header .header-box .box-perfil .despliegue .opciones-perfil .box-item:hover {
  background-color: #f0f0f0;
}
.conteiner .panel .contenido {
  background-color: #f3f7fa;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .panel .contenido .contenido-panel {
  background-color: red;
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
  overflow-y: scroll;
}
.conteiner .panel .contenido .contenido-panel .panel-box {
  background-color: #922424;
  width: calc(100% - 5px);
}
.conteiner .panel .contenido .contenido-panel::-webkit-scrollbar {
  width: 5px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}
.conteiner .panel .contenido .contenido-panel::-webkit-scrollbar-thumb {
  background: #c0c4dc;
  border-radius: 4px;
}
.conteiner .panel .contenido .contenido-panel::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

/*# sourceMappingURL=styles.css.map */
