.nuevo-articulo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    border-radius: 5px;
    .header-box{
        // background-color: yellow;
        height: 50px;
        display: flex;
        width: 450px;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        text-align: center;

        
    }
    .formulario{
        // background-color: red;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 2px rgb(235, 235, 235);
        .panel-img{
            // background-color: blue;
            height: 500px;
            width: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
            .box-img{
                position: relative;
                background-color: rgb(236, 233, 233);
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                border: solid 4px rgb(255, 255, 255);
                display: flex;
                justify-content: center;
                .img{
                    width: 200px;
                    height: 200px;
                    object-fit: contain;
                }
                .preview{
                    // background-color: blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }

                .panel-up{
                    user-select: none;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.432);
                    width: 100%;
                    height: 50px;
                    bottom: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .upload-btn-wrapper {
                        position: absolute;
                        overflow: hidden;
                        input[type=file] {
                            font-size: 100px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                        }
                        button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            background-color: transparent;
                            color: rgb(201, 201, 201);
                            cursor: pointer;
                            font-size: 28px;
                        }
                    }

                    
                }
            }

        }



        .panel-inputs{
            // background-color: yellow;
            width: calc(100% - 450px);
            height: 500px;
            overflow-y: scroll;
            .items-fomulario{
                position: relative;
                background-color: rgb(230, 230, 230);
                width: 250px;
                height: 40px;
                margin: 10px 0px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    background-color: rgb(230, 230, 230);
                    width: calc(100% - 20px);
                    height: calc(100% - 10px);
                    border: none;
                    outline: none;
                    font-size: 16px;
                }
            }
        }

        .panel-inputs::-webkit-scrollbar {
            width: 8px;     /* Tamaño del scroll en vertical */
            height: 8px;    /* Tamaño del scroll en horizontal */
        }

        .panel-inputs::-webkit-scrollbar {
            width: 5px;     /* Tamaño del scroll en vertical */
            height: 8px;    /* Tamaño del scroll en horizontal */
        }
        .panel-inputs::-webkit-scrollbar-thumb {
            background: rgb(192, 196, 220);
        }
        .panel-inputs::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
        }








    }

    
}

.img-box{
    // background-color: red;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    .panel-img{
        // background-color: yellow;
        width: 100%;
        height: calc(100% - 40px);
        display: flex;
        justify-content: center;
        align-items: center;
        .panel-iamgen{
            background-color: rgb(243, 247, 250);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 3px rgba(0, 0, 0, 0.082);
            .panel-inside{
                position: relative;
                background-color: rgba(0, 0, 0, 0.082);
                width: calc(100% - 5px);
                height: calc(100% - 5px);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                .preview{
                    background-color: blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 210px;
                        height: 210px;
                        object-fit: cover;
                    }
                }
                .panel-up{
                    user-select: none;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.432);
                    width: 100%;
                    height: 50px;
                    bottom: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .upload-btn-wrapper {
                        position: absolute;
                        // overflow: hidden;
                        input[type=file] {
                            font-size: 100px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                        }
                        button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            background-color: transparent;
                            color: rgb(201, 201, 201);
                            cursor: pointer;
                            font-size: 28px;
                        }
                    }
                }
            }
            
        }
    }
    .panel-error{
        // background-color: red;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-menssage{
            // background-color: rgba(255, 0, 0, 0.719);
            width: auto;
            padding: 5px;
            color: red;
            border-radius: 2px;
            user-select: none;
            font-size: 13px;
        }
    }
}
.panel-input{
    // background-color: yellow;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-input{
        // background-color: blue;
        .panel-input{
            background-color: rgba(2, 2, 2, 0.137);
            width: 350px;
            height: 40px;
            margin-bottom: 5px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .input-inside{
                background-color: rgb(255, 255, 255);
                position: relative;
                width: calc(100% - 5px);
                height: calc(100% - 5px);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                input{
                    width: calc(100% - 20px);
                    height: calc(100% - 5px);
                    border: none;
                    outline: none;
                }
                .panel-text{
                    // background-color: red;
                    width: calc(100% - 35px);
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input{
                        cursor: default;
                    }
                }
                .panel-icon-select{
                    // background-color: rgb(223, 227, 229);;
                    width: 35px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                    cursor: pointer;
                    span{
                        color: rgba(2, 2, 2, 0.329);
                        font-size: 28px;
                    }
                }
                .panel-up-select{
                    background-color: white;
                    position: absolute;
                    width: 90%;
                    height: auto;
                    max-height: 120px;
                    top: 40px;
                    z-index: 1;
                    border: solid 2px rgb(235, 235, 235);
                    border-radius: 5px;
                    overflow-y: scroll;
                    .panel-inside-item{
                        // background-color: red;
                        width: 100%;
                        height: 40px;
                        // height: auto;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .box-item{
                            background-color: rgb(240, 240, 240);
                            width: calc(100% - 10px);
                            height: calc(100% - 10px);
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            label{
                                position: relative;
                                left: 5px;
                                font-size: 12px;
                                color: rgb(98, 98, 116);
                                user-select: none;
                            }
                        }
                        .box-item:hover{
                            background-color: rgb(221, 221, 221);
                            cursor: pointer;
                        }
                    }
                }
                .panel-up-select::-webkit-scrollbar {
                    width: 8px;     /* Tamaño del scroll en vertical */
                    height: 8px;    /* Tamaño del scroll en horizontal */
                }
        
                .panel-up-select::-webkit-scrollbar {
                    width: 4px;     /* Tamaño del scroll en vertical */
                    height: 4px;    /* Tamaño del scroll en horizontal */
                }
                .panel-up-select::-webkit-scrollbar-thumb {
                    background-color: rgb(240, 240, 240);
                    border-radius: 5px;
                }
                .panel-up-select::-webkit-scrollbar-thumb:hover {
                    background: #b3b3b3;
                }
            }
            
        }
        .panel-error{
            // background-color: blue;
            text-align: center;
            position: relative;
            height: 15px;
            label{
                color: red;
                font-size: 13px;
                user-select: none;
            }
        }
    }
}


.btn-agregar-articulo{
    // background-color: red;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .panel-btn{
        background-color: rgb(40, 166, 69);
        width: 330px;
        position: relative;
        margin: 20px 0px 50px 0px;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        font-family: "Helvetica";
        color: white;
        user-select: none;
        cursor: pointer;
        transition: all .2s;
    }
    .panel-btn:hover{
        background-color: rgb(33, 136, 56);
    }
    .panel-btn:active{
        transform: scale(0.98);
        padding: 10px;
    }
}