{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="shortcut icon" href="https://www.gilio.com.mx/public/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gilio Inventarios</title>
    <!-------------------------------------------------------------------------------------------------------------------------------
    ----- CDN ICONOS REDES
    --------------------------------------------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-------------------------------------------------------------------------------------------------------------------------------
    ----- DESHABILITAR ZOOM - MOVIL
    --------------------------------------------------------------------------------------------------------------------------------->
    <!-- <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" /> -->
    <!-------------------------------------------------------------------------------------------------------------------------------
    ----- CDN GOOGLE FONTS
    --------------------------------------------------------------------------------------------------------------------------------->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!-------------------------------------------------------------------------------------------------------------------------------
    ----- CDN GOOGLE ICONS
    --------------------------------------------------------------------------------------------------------------------------------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-------------------------------------------------------------------------------------------------------------------------------
    ----- ESTILOS CSS
    --------------------------------------------------------------------------------------------------------------------------------->

    <link rel="stylesheet" href="{% static 'login/css/styles.css'%}">
</head>
<body onload="document.getElementById('usuario').focus();">

    

    <div class="header">
        <img class="logo" src="https://www.gilio.com.mx/public/images/logo_w.png" alt="">
    </div>
    <div class="conteiner">
        <div class="paneles">
            <div class="box-text">
                <section>
                    <h1>Bienvenido</h1>
                    <br>
                    <h2>Sistema de control mobiliario en corporativos.</h2>
                    <br>
                    <h4>Conoce la nueva forma de organizar el mobiliario personal dentro de nuestras instalaciones administrativas.</h4>
                </section>
            </div>
            <div class="box-login">
                <div id="panel-login" class="panel"> 
                    <form id="formulario" method="get">{% csrf_token %}
                        <div id="imput-usuario" class="box-input">
                            <span class="material-icons">account_circle</span>
                            <input id="usuario" type="text" name="usuario" maxlength="40" autocomplete="off">
                        </div>
                        <br>
                        <br>
                        <div id="imput-password" class="box-input">
                            <span class="material-icons">key</span>
                            <input id="password" type="password" name="password" maxlength="40" autocomplete="off">
                        </div>
                    </form>
                    <br>
                    <br>
                    <br>
                    <div class="box-opcion">
                        <div class="box-button" onclick="ingresar()">
                            Iniciar sesión
                        </div>
                    </div>
                    <br>
                    <br>
                    <div id="div-error" class="box-error" style="visibility: hidden;">
                    </div>


                </div>     
            </div>
        </div>
        <div class="footer">
            
            <label class="derechos">Gilio Inversiones Agropecuarias © {{agno}}. Todos los derechos reservados.</label>
            
        </div>
    </div>
   
    <script src="{% static 'login/js/script.js'%}"></script>
</body>
</html>









































