* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
}

body {
  height: 100vh;
  width: 100vw;
  top: 70px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(5, 5, 5, 0.301)), url(../img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.header img {
  position: relative;
  width: 35px;
  height: 40px;
  left: 20px;
}

.conteiner {
  width: 100%;
  height: 100%;
}
.conteiner .paneles {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .paneles .box-text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .paneles .box-text section {
  width: 80%;
  height: 60%;
}
.conteiner .paneles .box-text section h1 {
  color: white;
  font-size: 58px;
  letter-spacing: -0.05em;
}
.conteiner .paneles .box-text section h2 {
  color: white;
  font-size: 38px;
}
.conteiner .paneles .box-text section h4 {
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 0.664);
}
.conteiner .paneles .box-login {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .paneles .box-login .panel {
  width: 50%;
  height: 60%;
  user-select: none;
}
.conteiner .paneles .box-login .panel .box-input {
  background-color: rgba(255, 255, 255, 0.493);
  height: 40px;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .paneles .box-login .panel .box-input span {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .paneles .box-login .panel .box-input input {
  width: calc(100% - 40px);
  height: 100%;
  color: rgba(255, 255, 255, 0.829);
  border: none;
  outline: none;
  font-size: 18px;
  background-color: transparent;
}
.conteiner .paneles .box-login .panel .box-opcion {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .paneles .box-login .panel .box-opcion .box-button {
  background-color: rgba(255, 0, 0, 0.658);
  height: 100%;
  width: 50%;
  color: white;
  border-radius: 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner .paneles .box-login .panel .box-opcion .box-button:hover {
  background-color: rgba(255, 0, 0, 0.781);
  height: 100%;
  width: 60%;
  transform: scale(1.05);
}
.conteiner .paneles .box-login .panel .box-opcion .box-button:active {
  transform: scale(1.02);
  background-color: red;
}
.conteiner .paneles .box-login .panel .box-error {
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 10px;
  height: auto;
  padding: 10px;
}
.conteiner .paneles .box-login .panel .box-error .box-texto {
  margin-bottom: 10px;
  color: rgba(255, 0, 0, 0.726);
  font-weight: bold;
}
.conteiner .footer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.288);
}
.conteiner .footer .derechos {
  position: relative;
  color: white;
  font-size: 12px;
  font-family: "Barlow Condensed", sans-serif;
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
  left: 20px;
}

/*# sourceMappingURL=styles.css.map */
