{% extends "administrador/base.html" %}
{% block title%}Inventario{% endblock %}
{% block content%} 
{% load static %}
<link rel="stylesheet" href="{% static 'administrador/inventario/css/styles.css'%}">
<div class="inventario-head">
    <div class="nuevo">
        <div id="btnNuevoArticulo" class="button-nuevo">
            <div class="button-icon">
                <span class="material-icons">add_circle_outline</span>     
            </div>
            <label>Agregar articulo</label>
        </div>
    </div>
</div>
<script src="{% static 'administrador/inventario/js/script.js'%}"></script>
        
{% endblock %}