{% extends "administrador/base.html" %}
{% block title%}Inventario{% endblock %}
{% block content%} 
{% load static %}
<link rel="stylesheet" href="{% static 'administrador/nuevo-articulo/css/styles.css'%}">
<!-- <div class="nuevo-articulo">
    <div class="header-box">
        <label>Nuevo Articulo</label>
    </div>
    <div class="formulario">
        <div class="panel-img">
            <div class="box-img">
                <div class="preview" id="preview"></div>

                <div class="panel-up">
                    <div class="upload-btn-wrapper">
                        <button class="boton-standar-rw material-icons">add_a_photo</button>
                        <input id="file" type="file" accept="image/png, image/jpeg">
                    </div>
                </div>
                
                
            </div>

        </div>
        <div class="panel-inputs">
            <div class="items-fomulario">
                <input type="text" placeholder="Nombre">
            </div>

            <div class="items-fomulario">
                <input type="text" placeholder="Modelo">
            </div>

            <div class="items-fomulario">
                <input type="text" placeholder="Area">
            </div>

            <div class="items-fomulario">
                <input type="text" placeholder="Tipo">
            </div>

            <div class="items-fomulario">
                <input type="text" placeholder="Cantidad">
            </div>
        </div>
    </div>

    
</div>  -->

<div class="img-box">
    <div class="panel-img">
        <div class="panel-iamgen">

            <div class="panel-inside">
                <div class="panel-up" id="preview">
                    <div class="upload-btn-wrapper">
                        <button class="boton-standar-rw material-icons">add_a_photo</button>
                        <input id="file" type="file" accept="image/png, image/jpeg">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-error">
        ff
    </div>
</div>



<script src="{% static 'administrador/nuevo-articulo/js/script.js'%}"></script>
{% endblock %}




