{% extends "administrador/base.html" %}
{% block title%}Inventario{% endblock %}
{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'administrador/nuevo-articulo/css/styles.css'%}">
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>


<div class="img-box">
    <div class="panel-img">
        <div class="panel-iamgen">

            <div class="panel-inside">

                <div class="preview" id="preview"></div>

                <div class="panel-up">
                    <div class="upload-btn-wrapper">
                        <button class="boton-standar-rw material-icons">add_a_photo</button>
                        <input id="imgArticulo" type="file" accept="image/png, image/jpeg">
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="panel-error">
        <label id="msErrorImg" class="box-menssage"></label>
    </div>
</div>
<div class="panel-input">
    <div class="box-input">
        <div class="panel-input">
            <div class="input-inside">
                <input id="nombreArticulo" type="text" placeholder="Nombre">
            </div>
        </div>

        <div class="panel-error">
            <label id="msErrorNombre"></label>
        </div>
    </div>
</div>




<div class="panel-input">
    <div class="box-input">
        <div class="panel-input">
            <div class="input-inside">
                <input id="marcaArticulo" type="text" placeholder="Marca">
            </div>
        </div>

        <div class="panel-error">
            <label id="msErrorMarca"></label>
        </div>
    </div>
</div>


<div class="panel-input">
    <div class="box-input">
        <div class="panel-input">
            <div class="input-inside">
                <input id="modeloArticulo" type="text" placeholder="Modelo">
            </div>
        </div>

        <div class="panel-error">
            <label id="msErrorModelo"></label>
        </div>
    </div>
</div>

<div class="panel-input">
    <div class="box-input">
        <div class="panel-input">
            <div class="input-inside" style="overflow: visible">

                <div class="panel-text">
                    <input id="selectArea" type="text" placeholder="Area" readonly>
                    <input name="id_area" type="hidden">
                </div>

                <div id="btnSelectArea" class="panel-icon-select">
                    <span class="material-icons">expand_more</span>
                </div>

                <div id="despliegueSelectArea" class="panel-up-select" style="display: none;">

                    {% for sucursal in sucursales %}
                        <div class="panel-inside-item">
                            <div class="box-item" onclick="SelectArea('{{sucursal.nombre}}')">
                                <label id="{{sucursal.nombre}}">{{sucursal.nombre}}</label>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- <div class="panel-inside-item">
                        <div class="box-item" onclick="SelectArea('stock')">
                            <label id="stock">Stock</label>
                        </div>
                    </div>

                    <div class="panel-inside-item">
                        <div class="box-item" onclick="SelectArea('contabilidad')">
                            <label id="contabilidad">Contabilidad</label>
                        </div>
                    </div>

                    <div class="panel-inside-item">
                        <div class="box-item" onclick="SelectArea('ventas')">
                            <label id="ventas">Ventas</label>
                        </div>
                    </div>

                    <div class="panel-inside-item">
                        <div class="box-item" onclick="SelectArea('cafeteria')">
                            <label id="cafeteria">Cafeteria</label>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>

        <div class="panel-error">
            <label id="msErrorArea"></label>
        </div>
    </div>
</div>





<div class="panel-input">
    <div class="box-input">
        <div class="panel-input">
            <div class="input-inside">
                <input id="cantidadArticulo" type="text" placeholder="Canitad"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" maxlength="2">
            </div>
        </div>

        <div class="panel-error">
            <label id="msErrorCantidad"></label>
        </div>
    </div>
</div>

<div class="btn-agregar-articulo">
    <label onclick="btnGuardarArticulo()" class="panel-btn">Guardar</label>
</div>









<script type="text/babel" src="{% static 'administrador/nuevo-articulo/js/script.jsx'%}"></script>
<script src="{% static 'administrador/nuevo-articulo/js/script.js'%}"></script>
{% endblock %}